* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
Question: What happens when we set the display property to flex? 
Answer: It allows the section to use flex commands.

*/
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
Question: What is the flex-wrap property? 
Answer: It wraps the elements to a new row if there isn't enough space to show it.

*/
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
Question: What does the justify-content property do? 
Answer: Sets how the elements on a row is aligned (centered or left-justify for example).
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
Question: What is the flex property a shorthand property for?
Answer: flex-Grow (how it grows in relation to the other elements in the box), flex-Shrink (how it shrinks in relation to the other elements in the box), Flex-Basis (starting width inside the flex box)

*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
Question: What does the flex-direction property define?
Answer: The direction of the children in the flex box.

Question: What is it doing here? 
Answer: It is setting the box as a column.
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
